<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammerly with AWS</title>
</head>
<body>
    <h1>Grammerly with AWS</h1>

    <form action="{{ url_for('main') }}" method="post">
        <input type="text" name="input_text" id="input_text" placeholder="input text">
        <select name="selected_language" id="mySelect">
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="pt">Portuguese</option>
            <option value="tr">Turkish</option>
        </select>
        <button type="submit">Submit</button>
    </form>


    {% if input %}
    <h2>Translate</h2>
    <p>Input: {{input}}</p>
    {% endif %}
    {% if lang %}
    <p>Selected Language: {{lang}}</p>
    {% endif %}
    {% if translate %}
    <p>Translated Text: {{translate}}</p>
    {% endif %}

    {% if sentiment %}
    <h2>Sentiment Analysis</h2>
    <p>Positive Sentiment = {{sentiment[0]}}</p>
    <p>Negative Sentiment = {{sentiment[1]}}</p>
    <p>Neutral Sentiment = {{sentiment[2]}}</p>
    {% endif %}

    {% if part_of_speech %}
    <h2>Part of Speech</h2>
    <ul>
        {% for key in part_of_speech %}
        <li>{{key}}: {{part_of_speech[key]}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if entities %}
    <h2>Detected Entities</h2>
    <ul>
        {% for key in entities %}
        <li>{{key}}: {{entities[key]}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Transcribe</h2>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <span>Choose file to be uploaded</span>
        <input type="file" name="file" value="file">
        <input type="submit">
    </form>

    {% if filename %}
    <p>Uploaded File: {{filename}}</p>
    {% endif %}

    {% if text %}
    <p>Text: {{text}}</p>
    {% endif %}
</body>
</html>